*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Open Sans', sans-serif;
}

.navbar{
    background-color: rgb(0,97,255);

}

.menu{
    display: none;
}

.navbar-item{
    width: 90%;
    margin: auto;
    padding-top: 3%;
    padding-bottom: 3%;
    align-items: center;
}

#logo-img{
    width: 90%;
    padding-top: 2%;
    padding-left: 3%;
}

.burgher{
    color: white;
}

.flex-row-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.first-row{
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: space-between;
    margin: auto;
}

.second-row{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    margin-bottom: 5%;
}

.flex-column-between{
    display: flex;
    flex-direction: column;
}

.box-azur, .box-azur1, .box-azur2, .box-azur3, .box-azur4{
    background-color: rgb(198, 218, 255);
    margin-top: 15%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 25px;
}


.p-title{
    color: rgb(0, 101, 253);
    text-align: center;
    margin-top: 10%;
}

.txt-centrale{
    font-size: small;   
    line-height: 25px; 
    margin: 10% 10% 15% 10%;
    color: rgb(71, 71, 71);
}

.pulsante{
    display: inline;
    background-color: rgb(0, 101, 253);
    color: white;
    margin-left: 18%;
    padding: 5%;
    padding: 4% 15%;
    border-radius: 30px;
}

.mela{
    display: inline;
}

.apple-txt{
    display: inline;
    padding-left: 5%;
    font-size: small;
}

.img-card{
    width: 80%;
    margin-top: 10%;
    margin-left: 10%;
}

.icon-card{
    color: rgb(0, 101, 253);
    font-size: 400%;
    text-align: center;
    margin-top: 5%;
}

/* adattamento prima sezione */

@media screen and (min-width: 530px) {

    .p-title{
        font-size: larger;
        text-align: left;
        margin-left: 5%;
    }

    .txt-centrale, .pulsante, .apple-txt{
        font-size: medium;
    }

    .txt-centrale{
        margin: 10% 0% 10% 5%;
    }

    .first-row{
        display: flex;
        flex-direction: row;
    }

    .box-azur{
        margin-left: 0%;
        margin-right: 0%;
        padding-left: 2%;
        padding-right: 2%;
        width: 50%;
    }

    .box-azur1{
        margin-left: 0%;
        margin-right: 5%;
        padding-right: 2%;
        padding-left: 2%;
        width: 100%;
    }

    .second-row{
        display: flex;
        flex-direction: row;
        width: calc(100/3);
    }

    .box-azur3{
        margin-left: 0%;
        margin-right: 5%;
        padding-left: 3%;
        padding-right: 5%;
        margin-top: 5%;
        width: 40%;
    }

    .box-azur4{
        margin-left: 0%;
        margin-right: 0%;
        padding-left: 3%;
        padding-right: 5%;
        margin-top: 5%;
        width: 40%;
    }


}

@media screen and (min-width: 770px){

    .burgher{
        display: none;
    }

    .list-menu{
        padding-top: 1%;
    }

    .menu{
        display: inline;
        color: white;
        width: 60%;
        justify-content: space-around;
        font-size: 90%;
    }

    .starta{
        display: inline-block;
        background-color: white;
        color: black;
        padding: 1% 5% 1% 5%;
        border-radius: 25px;
    }

    .img-card{
        width: 60%;
        margin-left: 20%;
    }

    .p-title{
        font-size: x-large;
    }

    .pulsante{
        margin-left: 25%;
    }

    .apple-txt{
        font-size: larger;
    }

    .mela{
        font-size: larger;
    }
}

@media screen and (min-width: 1025px){
    
}